{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}

    {% block main %}
    {% csrf_token %}
    <!-- titulo -->
    <h1 class="h3 mb-4 text-gray-800">{{titulo}}</h1>
    <hr class="sidebar-divider d-none d-md-block">
    
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">{{subtitle}}</h6>
        </div>
        <div class="card-body">
            <!-- Formulario aluno -->
            <form action="{% url 'novo_aluno' %}" method="POST"
                enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <!-- <h1>Novo aluno</h1> -->
                        <div class="alert alert-primary" role="alert">
                            Preencha todos os campos obrigatórios.
                        </div> 
                        <hr>
                        {% csrf_token %}
                        {{ form|bootstrap }}
                        <br>
                        <button class="btn btn-success" type="submit">
                            Salvar
                        </button>
                        <a class="btn btn-warning" type="button" href="{% url 'home' %}">
                            Voltar
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% endblock %}
    