{% extends 'base.html' %}

{% block main %}
    <h1>Pagina inicial alunos</h1>
    <a href="{% url 'criar_alunos' %}">Inserir Alunos</a>
    <a href="{% url 'listar_alunos' %}">Lista de Alunos</a>

    <br>
<div class="col-sm-12">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Sala</th>
                <th scope="col">Editar</th>


            </tr>
        </thead>
        <tbody>
            {% for aluno in alunos %}
            <tr>
                <th scope="row">{{ aluno.ID_Aluno }}</th>
                <td>{{ aluno.nome }}</td>
                <td>{{ aluno.turma }}</td>
                <td>
                    <a type="button" class="btn btn-primary" href="{% url 'update_aluno' aluno.ID_Aluno %}">Editar</a>
                    <a type="button" class="btn btn-danger" href="{% url 'delete_aluno' aluno.ID_Aluno %}">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}