{% extends 'base.html' %}
{% block main %}
{% csrf_token %}
<a type="button" class="btn btn-warning" href="{% url 'criar_alunos' %}">Inserir Alunos</a>
    
<h1>Lista de alunos</h1>

<br>
<form action="consulta/" method="POST" name="consulta" class="ml-3">{% csrf_token %}
    <div class="form-group">
        <div class="row">
            <input type="text" class="form-control col-md-5" name="consulta"
            placeholder="Digite aqui a sua consulta">
            <select class="form-control col-md-2" name="campo">
                <option value="nome">Nome</option>
            </select>
            <button type="submit" class="btn btn-success">Consultar</button>
        </div>
    </div>
</form>
<div style="overflow-y: scroll; height: 310px; width: 100%;" align="center">
    <table class="table">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Matricula</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Sala</th>
                    <th scope="col">Editar</th>
    
    
                </tr>
            </thead>
            <tbody>
            
            {% for aluno in alunos %}
            <tr>
                <th scope="row">0{{ aluno.ID_Aluno }}</th>
                <td>{{ aluno.nome }}</td>
                <td>{{ aluno.turma }}</td>
                <td>
                    <a type="button" class="btn btn-primary" href="{% url 'update_aluno' aluno.ID_Aluno %}">Editar</a>
                    <a type="button" class="btn btn-danger" href="{% url 'delete_aluno' aluno.ID_Aluno %}">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!--
<div class="col-sm-12">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Sala</th>
                <th scope="col">Editar</th>


            </tr>
        </thead>
        <tbody>
            {% for aluno in alunos %}
            <tr>
                <th scope="row">{{ aluno.ID_Aluno }}</th>
                <td>{{ aluno.nome }}</td>
                <td>{{ aluno.turma }}</td>
                <td>
                    <a type="button" class="btn btn-primary" href="{% url 'update_aluno' aluno.ID_Aluno %}">Editar</a>
                    <a type="button" class="btn btn-danger" href="{% url 'delete_aluno' aluno.ID_Aluno %}">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
-->
{% endblock %}