{% extends 'base_pdf.html' %}
{% block main %}
<h1>{{ myvar }}</h1>
{% for turma in turmas %}
<div class="row">
    <div class="col-sm">
        <p>Número: <b>00{{turma.ID_Turma}}</b></p>
    </div>
    <div class="col-sm">
        <p>Turma: <b>{{ turma.turma }}</b></p>
    </div>
    <div class="col-sm">
        <p>Modalidade: <b>{{ turma.modalidade }}</b></p>
    </div>
</div>
<hr>
{% endfor %}
{% for professor in professores %}
    <p>Professor</p>
    <p>{{ professor.nome }}</p>
    
{% endfor %}
<hr>
{% for aluno in alunos %}
<p>Matricula: 0{{ aluno.ID_Aluno }}</p>
<p>Nome: {{ aluno.nome }}</p>
{% endfor %}
<hr>
{% endblock %}