/* Font Robotto Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif !important;
}
.cabecalo-pdf {
  text-align: center;
}
.cabecalo-pdf > img {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 4rem !important;
  height: auto;
}
.corpo-pdf {
  padding: 1rem;
}
h7 {
  font-weight: bold;
  text-align: center;
  padding-bottom: 1rem;
  font-size: 0.9rem;
}
h4 {
  font-weight: bold;
  text-align: center;
  padding-bottom: 1.5rem;
  font-size: 1.1rem;
}
h5 {
  font-size: 1rem;
}

.img-corpo {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}
