:root {
  --azul-escuro-cor: #051937;
  --azul-claro-cor: #00c9b7;
  --amarelo-cor: #b1b399;
  --branco-cor: #fff;
}
* {
  padding: 0;
  margin: 0%;
}
/* === Navbar === */
.bg-dark {
  padding: 13px;
  background-color: var(--azul-escuro-cor) !important;
  color: var(--branco-cor);
}
.dist {
  padding-top: 6rem !important;
  /*padding-bottom: 22rem !important;*/
  padding-bottom: 2rem !important;
}
.img-nav {
  width: 70px;
}
.cor-nav {
  color: var(--branco-cor);
}
/* === Index === */
.posi {
  padding-top: 3.5rem !important;
  align-items: center;
  text-align: center;
}
footer {
  background-color: var(--azul-escuro-cor);
  color: var(--branco-cor);
}
/* === Fomularios === */
p {
  color: #939484da;
}
form {
  padding-top: 5px;
  padding-bottom: 20px;
}
/* === Tabela === */
#tabela {
  overflow-y: scroll;
  height: 310px;
  width: 100%;
  align-items: center;
}
/* === Visualizar === */
.dist-vis {
  align-items: center;
  padding-top: 6rem !important;
  padding-bottom: 2rem !important;
  padding-right: 8rem;
  padding-left: 2rem;
}

/* PDF*/

.bg-image-pdf {
  background-image: url("/static/img/ebd.jpg");
  background-size: cover;
  background-position: center;
}
