:root {
  --azul-escuro-cor: #051937;
  --azul-claro-cor: #00c9b7;
  --amarelo-cor: #ebf42f;
  --branco-cor: #fff;
}
/* === Navbar === */
.bg-dark {
  padding: 13px;
  background-color: var(--azul-escuro-cor) !important;
  color: var(--branco-cor);
}
.dist {
  margin: 90px;
}
.img-nav {
  width: 70px;
}
.cor-nav {
  color: var(--branco-cor);
}