{% extends 'base.html' %}
{% load bootstrap %}

{% block main %}
{% csrf_token %}
    <!-- titulo -->
    <div class="d-flex justify-content-between flex-wrap 
        flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h3>{{titulo}}</h3>
        <div class="btn-toolbar mb-2 mb-md-0"></div>
    </div>

    <div class="card rounded-sm">
        <div class="card-header">
            <h5 class="title-card">{{subtitle}}</h5>
        </div>
        <div class="inner-square shadow">
            <form action="{% url 'novo_turma'  %}" method="POST"
                enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <!-- <h1>Nova Turma</h1> -->
                        <div class="alert alert-primary" role="alert">
                            Preencha todos os campos obrigatórios.
                        </div>
                        
                        <hr>
                        {% csrf_token %}
                        {{ form|bootstrap }}
                        <br>
                        <button class="btn btn-success" type="submit">
                            Salvar
                        </button>
                        <a class="btn btn-warning" type="button" 
                            onclick="alerta()" href="{% url 'home' %}">
                            Voltar
                        </a>
                    </div>
            
                </div>
            </form>
        </div>
    </div>
    <script>
        function alerta(){
            alert("Ao voltar o registo não ser salvo!");
        }
    </script>
{% endblock %}