{% extends 'base.html' %}
{% block main %}
{% csrf_token %}
<h1>Lista de alunos</h1>
<br>
<div class="col-sm-12">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">turma</th>
                <th scope="col">Professor 1</th>
                <th scope="col">Professor 2</th>
                <th scope="col">Professor 3</th>
            </tr>
        </thead>
        <tbody>
            {% for turma in turmas %}
            <tr>
                <th scope="row">{{ turma.ID_Turma }}</th>
                <td>{{ turma.turma }}</td>
                <td>{{ turma.Professor }}</td>
                <td>{{ turma.Professor }}</td>
                <td>{{ turma.Professor }}</td>
                <td>
                    <a type="button" class="btn btn-primary" href="{% url 'update_turma' turma.ID_Turma %}">Editar</a>
                    <a type="button" class="btn btn-danger" href="{% url 'delete_turma' turma.ID_Turma %}">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!--<ul>
    {% for aluno in alunos %}
        <li> {{ aluno.nome }}</li>
        <li> {{ aluno.turma }}</li>
        <a type="button" class="btn btn-primary" href="{% url 'update_aluno' aluno.ID_Aluno %}">Editar</a>
        <a type="button" class="btn btn-danger" href="{% url 'delete_aluno' aluno.ID_Aluno %}">Excluir</a>
        <hr>
    {% endfor %}
    </ul>-->
{% endblock %}