{% extends 'base_pdf.html' %}
{% block main %}
{% csrf_token %}
    
    <div class="corpo-pdf border">
        <h4>CLASSE</h4>
        {% for professor in professores %}
            <h5><b>Número da sala: </b>{{professor.turma_id}}</h5>
            <h5><b>Sala: </b> {{professor.turma}}</h5>
        {% endfor %}
        <hr>
        <h4>Professores</h4>
        <!--Inicio Tabela Professor-->
        <div align="center">
            <table class="table">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Matricula</th>
                            <th scope="col">Nome</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for professor in professores %}
                        <tr>
                            <th scope="row">{{ professor.ID_Professor }}</th>
                            <td>{{ professor.nome }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </table>
        </div>
        <!--Fim Tabela Professor-->
        <br>
        <hr>
        <h4>Alunos</h4>
        <!--Inicio Tabela Aluno-->
        <div  align="center">
            <table class="table">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Matricula</th>
                            <th scope="col">Nome</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for aluno in alunos %}
                        <tr>
                            <th scope="row">{{ aluno.ID_Aluno }}</th>
                            <td>{{ aluno.nome }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </table>
        </div>
        <!--Fim Tabela Aluno-->
        <br>
    </div>
{% endblock %}