{% extends 'base.html' %} 
{% block main %} 
{% csrf_token %}
  <!-- titulo -->
  <h1 class="h3 mb-4 text-gray-800">Turma</h1>
  <hr class="sidebar-divider d-none d-md-block">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Lista da sala</h6>
    </div>
    <div class="card-body">
      <!-- Inicio Turma -->
      {% for titulo in titulos %}
        <h6 class="text-gray-800">
          <b>Sala: </b> 
          {{titulo.turma}}
        </h6>
        <h6 class="text-gray-800">
          <b>Modalidade </b>
          {{titulo.modalidade}}
        </h6>
      {% endfor %}
      <!-- Fim Turma -->
      <br>
      <h5 class="text-gray-800">
        <b>Professores</b>
      </h5>
      <!--Inicio Tabela Professor-->
      <div align="center">
        <table class="table">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Matricula</th>
                <th scope="col">Nome</th>
              </tr>
            </thead>
            <tbody>
              {% for professor in professores %}
              <tr>
                <th scope="row">{{ professor.ID_Professor }}</th>
                <td>{{ professor.nome }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </table>
      </div>
      <!--Fim Tabela Professor-->
      <br/>
      <hr/>
      <h5 class="text-gray-800">
        <b>Alunos</b>
      </h5>
      <!--Inicio Tabela Aluno-->
      <div align="center">
        <table class="table">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Matricula</th>
                <th scope="col">Nome</th>
              </tr>
            </thead>
            <tbody>
              {% for aluno in alunos %}
              <tr>
                <th scope="row">{{ aluno.ID_Aluno }}</th>
                <td>{{ aluno.nome }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </table>
      </div>
      <!--Fim Tabela Aluno-->
    </div>
  </div>
  <div>
    
  </div>
{% endblock %}

