{% extends 'base.html' %}

{% block main %}
    <h1>Renascer</h1>
    <div class="col-sm-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">turma</th>
                    <th scope="col">Modalidade</th>
                </tr>
            </thead>
            <tbody>
                {% for turma in turmas %}
                <tr>
                    <th scope="row">{{ turma.ID_Turma }}</th>
                    <td>{{ turma.turma }}</td>
                    <td>{{ turma.modalidade }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
{% endblock %}