{% extends 'base.html' %}
{% load static %}
{% block main %} 

    <!-- titulo -->
    <h1 class="h3 mb-4 text-gray-800">Professor</h1>
    <hr class="sidebar-divider d-none d-md-block">
    
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Dados Pessoal</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h6 class="text-gray-800">
                        <b>Matricula: </b> {{professores.ID_Professor}}
                    </h6>
                    <h6 class="text-gray-800">
                        <b>Nome completo: </b> {{ professores }}
                    </h6>
                    <h6 class="text-gray-800">
                        <b>Sexo: </b> {{professores.sexo}}
                    </h6>
                    <h6 class="text-gray-800">
                        <b>Data de Nascimento: </b> {{professores.data}}
                    </h6>
                    <h6 class="text-gray-800">
                        <b>CPF: </b> {{professores.cpf}}
                    </h6>
                    <h6 class="text-gray-800">
                        <b>Telefone: </b> {{professores.telefone}}
                    </h6>
                    <h6 class="text-gray-800">
                        <b>Email: </b> {{professores.email}}
                    </h6>
                    <hr>
                    <h6 class="text-gray-800">
                        <b>Moradia</b>
                    </h6>
                    <br> 
                    <h6 class="text-gray-800">
                        <b>CEP: </b> {{professores.cep}}
                    </h6>
                    <h6 class="text-gray-800">
                        <b>Endereço: </b> {{professores.endereco}}
                    </h6>
                    <h6 class="text-gray-800">
                        <b>Número: </b> {{professores.numero}}
                    </h6>
                    <h6 class="text-gray-800">
                        <b>Complemento: </b> {{professores.complemento}}
                    </h6>
                    <h6 class="text-gray-800">
                        <b>Bairro: </b> {{professores.bairro}}
                    </h6>
                    <h6 class="text-gray-800">
                        <b>Município: </b> {{professores.municipio}}
                    </h6>
                    <h6 class="text-gray-800">
                        <b>Estado: </b> {{professores.estado}}
                    </h6>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12" 
                    style="padding-left:20rem;">
                    <img src="{{professores.imagem.url}}" height="150px" width="130px" 
                        style="object-fit: cover;" class="rounded img-corpo" alt="professor">
                </div>
            </div>
        </div>
    </div>
    <!-- PDF -->
    <div align="right">
        <a type="button" class="btn btn-danger"  href="{% url 'pdf_professor' professores.ID_Professor %}">
            <i class="bi bi-file-earmark-pdf"></i>
              PDF
        </a>
    </div>
{% endblock %}