{% extends 'base.html' %}
{% block main %}

<div class="text-center">
    <h1>Inicio</h1>
    <div class="mt-5">
        <div class="row">
            <div class="col-sm">
                <a href="{% url 'home_turmas' %}">Turma</a>
            </div>
            <div class="col-sm">
                <a href="{% url 'home_alunos' %}">Alunos</a>
            </div>
            <div class="col-sm">
                <a href="{% url 'home_professores' %}">Professores</a>
            </div>
            <div class="col-sm">
                <a href="{% url 'home_colaboradores' %}">Colaboradores</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}