{% extends 'base.html' %}
{% load static %}
{% block main %}
<div class="text-center posi align-items-center">
    <div class="mt-5">
        <div class="row">
            <div class="col-sm">

                <a class="btn btn-info" href="{% url 'home_turmas' %}">Turma</a>
            </div>
            <div class="col-sm">
                <a class="btn btn-info" href="{% url 'listar_alunos' %}">Alunos</a>
            </div>
            <div class="col-sm">
                <a class="btn btn-info" href="{% url 'home_professores' %}">Professores</a>
            </div>
            <div class="col-sm">
                <a class="btn btn-info" href="">Coordenação</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}